.shadowCard {
  box-shadow: 0px 15px 40px #E2E8EC80 !important;
}

.shadowBlack {
  box-shadow: 0px 10px 25px #00000029 !important;
}

.noBorder {
  border: none !important;
}

.equalHeight {
  min-height: 100%;
}