.sidenav2 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5279e0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav2 .closebtn {
  position: absolute;
  top: 150;
  right: 25px;
  margin-left: 50px;
}
.mobilecontent {
  background-color: #f9f7fd;
  height: 100vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: auto;
}
