.chatbox_container {
  height: 100vh;
}
.sidebox_firstbox {
  height: 100vh;
  background-color: #273238;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-top: 20px;
  color: white;
  text-align: center;
}
.sidebox_secondbox {
  height: 100vh;
  border-right: 1px solid #ccd3de;
  border-bottom: 1px solid #ccd3de;
}
.sidebox_thiredbox {
  height: 100vh;
  border-right: 1px solid #ccd3de;
  border-bottom: 1px solid #ccd3de;
  position: relative;
}
.topcontainer1 {
  padding: 10px;
  border: 1px solid #ccd3de;
}
.doctor_hading {
  padding-left: 10px;
  width: 100%;
  height: 50px;
  padding-right: 10px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  background-color: #005191;
  color: white !important;
}
.link_test {
  text-decoration: none;
  color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}
.link_test :hover {
  text-decoration: none;
  color: white !important;
  background-color: #9196b5;
}
