.marginB {
  margin-bottom: 30vh;
}
.main_box {
  width: 95%;
  height: 100vh;
  padding: 1px 1px;
  background-color: #155aba;
  margin: auto;
}
.sidebar {
  width: 230px;
  height: 100%;
  background-color: #5278df;
  padding: 10px 10px;
  display: inline-block;
}
.content_box {
  height: 100%;
  background-color: #f9f7fd;
  display: inline-block;
}
.sidebar_option {
  width: 100%;
  display: block;
  padding: 10px;
}
.sidebar_option {
  text-decoration: none;
  color: white;
  width: 100%;
}
.sidebar_option:hover {
  background-color: #5cd1d3;
  text-decoration: none;
}
.sidebar_option:active {
  background-color: #5cd1d3;
}
.content_box ul li {
  text-decoration: none;
  list-style: none;
  background-color: #ffffff;
  color: black;
  padding: 5px;
  margin-left: 10px;
  font-size: 13px;
  border-radius: 10%;
  text-align: center;
}
.search {
  width: 300px;
}
.content_box a {
  text-decoration: none;
  color: black;
}
.analitics {
  padding-right: 20px;
}
